    body{
    
    
        height: 100vh; 
        margin: 0;
        padding: 0;
        scroll-behavior: smooth;
    }

    header {
        background-color:#fff;
        opacity: 90%;
        color: #3dcbc2;
        padding: 10px 0;
        margin-top: 30px;
        width: 60%;
        text-align: center;
        margin: 0 auto; 


    }

    nav{
        height: 30px;
        margin-top: 20px;


    }
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;
        font-size: larger;
        width: 110%;
    }

    nav ul li {
        display: inline-block;
        margin-right: 20px;
    }

    nav ul li a {
        color:#3dcbc2;
        text-decoration: none;
        padding: 5px 5px;
        border-radius: 5px;
        font-family: "Lexend Deca", sans-serif;
        font-optical-sizing: auto;

    }

    nav ul li a:hover {
        background-color: #555;
    }

    .container-01{
        background-image: url(./../imagens/image-florianopolis-palace-praia-hotel-18.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        display: inline-block;
        height: 100vh;
        width: 100%;
        
    }

    .container-01 h1 {
        color:darkkhaki;
        background-color: rgba(255, 255, 255, 0.8); 
        font-family: "Pacifico", cursive;
        font-size: 90px;
        width: 700px;
    }

    .text-container{
        margin-top: 40px;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .pacifico-regular {
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
    }

    
    .section {
        display: flex;
        padding: 30px;
        background-color: #fff;
        color: #333;
    }

    .text-hotel {
        flex: 1;
        padding-right: 50px; 
        text-align: justify;
    }

    .text-hotel h1,
    .text-hotel p {
        margin-bottom: 20px;
        font-family: "Lexend Deca", sans-serif;
        font-optical-sizing: auto;
    }

    .image-hotel {
        width: 70%;
        max-width: 500px; 
    }

    img {
        max-width: 100%;
        height: auto;
    }

    .text-reservas h1,
    .text-reservas p {
        margin-bottom: 20px;
        font-family: "Lexend Deca", sans-serif;
        font-optical-sizing: auto;
    }

    .form-reservas {
        display: flex;
        gap: 10px;
        border: 1px solid #ccc; 
        padding: 20px; 
        background-color: #f9f9f9; 
        border-radius: 5px; 
        font-family: "Lexend Deca", sans-serif;
        font-optical-sizing: auto;
    }

    .form-reservas label{
        text-align: right;
        margin-right: 20px;
        display: flex; 
        align-items: center; 
    }

    .form-reservas input,
    .form-reservas button {
        flex-grow: 1; 
        max-width: 100px; 
        padding: 5px;
    }

    .form-reservas button {
        margin-left: auto; 
        font-family: "Lexend Deca", sans-serif;
        font-optical-sizing: auto;
    }

    #reservas{
        background-color: burlywood;

    }

    .obj {
        display: flex;
    }

    h3{
        font-family: "Teachers", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        margin-top: 50px;
    }

    .fotos-reservas {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        gap: 10px; 
        margin-top: 20px;
        margin-left: 90px;
        overflow: hidden;
        cursor: pointer; 
        transition: transform 0.3s ease; 

    }

    .fotos-reservas img {
        max-width: 70%; 
        height: auto; 
        border-radius: 10px; 


    }

    .fotos-reservas img:hover {
        transform: scale(1.1); 
    }


    .arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px; 
    }

    .arrow button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 24px;
        color: #333;
        transition: transform 0.3s ease; 
    }

    .arrow button:hover {
        transform: scale(1.1); 
    }   

    .quarto-luxo {
        flex: 1;
        padding-right: 50px; 
        text-align: justify;
    }
    .quarto-luxo h2{
    font-family: "Teachers", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    }

    .text-acomodacoes h1,
    .text-acomodacoes p {
        margin-bottom: 20px;
        font-family: "Lexend Deca", sans-serif;
        font-optical-sizing: auto;
    }

    .imagem-quarto {
        width: 180%; 
        position: relative;

    }

    .seta-direita {
        position: absolute;
        top: 80%;
        right: 0;
        transform: translateY(-50%);
        font-size: 34px;
        cursor: pointer;
        color: #333; 
        background-color: #3dcbc2;
    }
    .quarto-simples{
        display: none;
        flex: 1;
        padding-right: 50px;
        text-align: justify;
    }

    .quarto-simples h2{
        font-family: "Teachers", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        
        }

    .imagem-quarto2 {
        width: 180%; 
        position: relative;
    }

    #contato{
        background-color: #3dcbc2;
        font-family: "Teachers", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        height: 30vh;
    }

    .text-contato h1{
        font-family: "Lexend Deca", sans-serif;
        font-optical-sizing: auto;

    }
    .icons{
        display: flex;
        align-items: center;
        margin-left: 460px;
    }
    .icons img  {
        height: 40px;
        width: 40px;
    }

    .seta-esquerda {
        position: absolute;
        top: 80%;
        left: 0; 
        transform: translateY(-50%);
        font-size: 34px;
        cursor: pointer;
        color: #333; 
        background-color: #3dcbc2;
    }
    .menu-icon {
        display: none;
        font-size: 30px;
        cursor: pointer;
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 1000;
    }

    .menuHidden {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 250px;
        height: 100%;
        background-color: #333;
        z-index: 999;
    }

    .menuHidden ul {
        list-style-type: none;
        padding: 0;
    }

    .menuHidden ul li {
        padding: 16px;
        text-align: center;
    }

    .menuHidden ul li a {
        color: white;
        text-decoration: none;
        display: block;
    }

    .menuHidden ul li a:hover {
        background-color: #575757;
    }
    @media screen and (max-width: 970px) {
    
        #hotel {
            margin-left: 20px;
        }
        
        .image-hotel {
            display: none;
        }

        .form-reservas {
            flex-direction: column; 
            gap: 10px;
        }

        .form-reservas label {
            text-align: left; 
            margin-right: 0;
        }

        .form-reservas input,
        .form-reservas button {
        max-width: 100%; 
        }
    }

    @media screen and (max-width: 750px) {
        
        .menuVisible {
            display: none;
        }
        .menu-icon {
            display: block;
        }

        .container-01 h1 {
            margin-top: 150px;
            font-size: 70px;
            text-align: center;
        }

        .section {
            flex-direction: column;
            align-items: flex-start;
        }
        
        .fotos-reservas {
            grid-template-columns: 1fr;
            margin-left: 0;
        }
        .fotos-reservas img {
            max-width: 100%;
        }

        .obj {
            display: flex;
            flex-direction: column;
        }
        
        .imagem-quarto,.imagem-quarto2 {
            width: 100%;
            margin-top: 20px; /* Adiciona um espaço entre o texto e a imagem */
        }

        #contato {
            justify-content: center;

        }
        .text-contato {
            text-align: center;
        }
        .icons {
            width: 100%;
            margin-top: 20px;
            margin-left: 0;
            justify-content: center;
        }
        
    }


